{% extends 'base.html' %}



{% block content %}


<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Aplicacion de Proyectos y Tareas en Django </h1>
        <h2>Aplicacion hecha con el framework Django para poder guardar proyectos y sus tareas q los conforman.</h2>
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">Sign In</a>
            <a class="btn btn-primary" href="/signup/">Sign Up</a>
        </div>
    
    </section>
    

</main>




{% endblock %}

